[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grates"]
	path = grates
	url = https://github.com/reconverse/grates
	subdir = pkg
[submodule "incidence2"]
	path = incidence2
	url = https://github.com/reconverse/incidence2
	subdir = pkg
[submodule "outbreaks"]
	path = outbreaks
	url = https://github.com/reconverse/outbreaks
[submodule "reportfactory"]
	path = reportfactory
	url = https://github.com/reconverse/reportfactory
[submodule "trendeval"]
	path = trendeval
	url = https://github.com/reconverse/trendeval
[submodule "trending"]
	path = trending
	url = https://github.com/reconverse/trending
